* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #19191c;
  padding: 1.5vh 3vw;
}

.menu, .menu-2 aside {
  display: none;
}

body.active .menu-2 aside {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

body.active .menu-2 a {
  display: block;
  width: inherit;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

body.active .menu-2 a:hover {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-burger {
  display: block;
  position: fixed;
  z-index: 3;
  bottom: 1vh;
  right: 1vw;
  background-color: lightgrey;
  padding: 1vh;
  border-radius: 50%;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

body.active .bar-1 {
  transform: translate(0, 11px) rotate(-45deg);
}

body.active .bar-2 {
  opacity: 0;
}

body.active .bar-3 {
  transform: translate(0, -11px) rotate(45deg);
}

.section {
  height: 100vh;
  padding-top: 4rem;
}
.section h2 {
  text-align: center;
  font-family: sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #19191c;
    padding: 1.5vh 3vw;
  }

  .menu-2 {
    display: none;
  }

  .menu {
    min-width: 400px;
    display: flex;
    flex: 0 0 40vw;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin: 0 2vw;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

  .menu a:hover {
    color: yellow;
  }

  .navbar-burger {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
